<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Northumbria IWW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    {% load static %}

    <link href="{% static "external/bootstrap-4.0.0/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "styles.css" %}" rel="stylesheet"/>
</head>

<header role="banner">
  <div class="header banner">
  <img class="banner" src="https://puu.sh/zw088/9a61be4a2a.png" style="width:100%">

  <div class="topnav">
    <ul role="navigation">
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#articles">Articles</a></li>
      <li><a href="#resources">Resources</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="#shop">Shop</a></li>
      <li><a href="#join">Join Us</a></li>
    </ul>

    <input type="text" placeholder="Search..">
  </div>
</header>

<body>
  <div id="container">
    {% block content %}{% endblock %}
  </div>
</body>

<footer>
  {% block footer %}{% endblock %}
</footer>

</html>
