<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Northumbria IWW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    {% load static %}

    <link href="{% static "styles.css" %}" rel="stylesheet"/>
</head>

<header>
  <div class="header banner">
  <img class="banner" src="https://puu.sh/zw088/9a61be4a2a.png" style="width:100%">

  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#articles">Articles</a>
    <a href="#resources">Resources</a>
    <a href="#events">Events</a>
    <a href="#shop">Shop</a>
    <a href="#join">Join Us</a>
    <input type="text" placeholder="Search..">
  </div>
</header>

<body>
  <div id="container">
    {% block content %}{% endblock %}
  </div>
</body>

<footer>
  {% block footer %}{% endblock %}
</footer>

</html>
